{% from "dist/govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "dist/govuk/components/input/macro.njk" import govukInput %}
{% from "dist/govuk/components/radios/macro.njk" import govukRadios %}
{% from "dist/govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "dist/govuk/components/error-summary/macro.njk" import govukErrorSummary %}

<div class="govuk-grid-row">
  {% if errorSummary.date.errorList|length %}
    <div class="govuk-grid-column-full">
      {{ govukErrorSummary(errorSummary.date) }}
    </div>
  {% endif %}
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-padding-top-7">Date observed</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <!-- to do change into govuk fieldset and radios nunjucks-->
    {{ govukRadios({
      classes: "govuk-radios--small",
      name: "dateObserved",
      id: "dateObserved",
      errorMessage: findErrorMessageById(errorSummary.date, "dateObserved"),
      items: [
       {
          checked: dateObserved === 'today',
          value: "today",
          text: "Today"
        },
        {
          checked: dateObserved === 'yesterday',
          value: "yesterday",
          text: "Yesterday"
        },
        {
          checked: dateObserved === 'before',
          value: "before",
          text: "Before then"
        }
      ]
    }) }}
  </div>
  <div class="govuk-grid-column-three-quarters">

    <div id="timeInput" style="display: none;">
      <div class="govuk-!-padding-top-3"></div>
      {{ govukInput({
        id: "dateTime",
        name: "dateTime",
        classes: "govuk-input--width-5",
        value: dateTime,
        errorMessage: findErrorMessageById(errorSummary.date, "dateTime"),
        label: {
          text: "Time (approximate)"
        },
        hint: {
          text: "For example, 09:30 or 18:45."
        },
        autocomplete: "off"
      }) }}
    </div>

    <div id="otherDateTimeInput" style="display: none;">
      {{ govukDateInput({
        id: "dateOther",
        fieldset: {
          legend: {
            text: "Date",
            classes: "govuk-fieldset__legend--s govuk-!-padding-top-3"
          }
        },
        errorMessage: findErrorMessageById(errorSummary.date, "dateOther"),
        items: [
          {
            name: "dateOtherDay",
            id: "dateOtherDay",
            label: "Day",
            value: dateOtherDay,
            classes: "govuk-input--width-2"
          },
          {
            name: "dateOtherMonth",
            id: "dateOtherMonth",
            label: "Month",
            value: dateOtherMonth,
            classes: "govuk-input--width-2"
          },
          {
            name: "dateOtherYear",
            id: "dateOtherYear",
            label: "Year",
            value: dateOtherYear,
            classes: "govuk-input--width-4"
          }
        ]    
      }) }}

      {{ govukInput({
        id: "dateOtherTime",
        name: "dateOtherTime",
        classes: "govuk-input--width-5",
        value: dateOtherTime,
        errorMessage: findErrorMessageById(errorSummary.date, "dateOtherTime"),
        autocomplete: "off",
        label: {
          text: "Time",
          classes: "govuk-fieldset__legend--s"
        },
        hint: {
          text: "For example, 09:30 or 18:45."
        }
      }) }}

    </div>

  </div>
</div>
