{% from "dist/govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "dist/govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "dist/govuk/components/input/macro.njk" import govukInput %}
{% from "dist/govuk/components/radios/macro.njk" import govukRadios %}
{% from "dist/govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "dist/govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set emailReportHtml %}
  {{ govukDateInput({
    id: "descriptionEmailReportDate",
    fieldset: {
      legend: {
        text: "Date of email",
        classes: "govuk-fieldset__legend--s govuk-!-padding-top-3"
      }
    },
    items: [
      {
        name: "descriptionEmailReportDateDay",
        id: "descriptionEmailReportDateDay",
        label: "Day",
        value: descriptionEmailReportDateDay,
        classes: "govuk-input--width-2"
      },
      {
        name: "descriptionEmailReportDateMonth",
        id: "descriptionEmailReportDateMonth",
        label: "Month",
        value: descriptionEmailReportDateMonth,
        classes: "govuk-input--width-2"
      },
      {
        name: "descriptionEmailReportDateYear",
        id: "descriptionEmailReportDateYear",
        label: "Year",
        value: descriptionEmailReportDateYear,
        classes: "govuk-input--width-4"
      }
    ]    
  }) }}

  {{ govukInput({
    id: "descriptionEmailReportTime",
    name: "descriptionEmailReportTime",
    classes: "govuk-input--width-5",
    value: descriptionEmailReportTime,
    autocomplete: "off",
    label: {
      text: "Time of email",
      classes: "govuk-fieldset__legend--s"
    },
    hint: {
      text: "For example, 09:30 or 18:45."
    }
  }) }}

{% endset -%}

<div class="govuk-grid-row">
  {% if errorSummary.description.errorList|length > 0 %}
    <div class="govuk-grid-column-full">
      {{ govukErrorSummary(errorSummary.description) }}
    </div>
  {% endif %}

  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group {% if findErrorMessageById(errorSummary.description, 'descriptionDescription') %}govuk-form-group--error{% endif %}">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l govuk-!-margin-bottom-4 govuk-!-margin-top-7" for="descriptionDescription">
          Incident description
        </label>
      </h1>
      <p class="govuk-body">
        <a href="https://defra.sharepoint.com/teams/Team3360/SitePages/ICS-Knowledge-Base.aspx" class="govuk-link--no-visited-state" target="_new">
        Open the knowledge base</a>.
      </p>
      {{ govukTextarea({
        name: "descriptionDescription",
        id: "descriptionDescription",
        rows: 12,
        value: descriptionDescription,
        errorMessage: findErrorMessageById(errorSummary.description, "descriptionDescription")
      }) }}
    </div>
    {{ govukCheckboxes({
      classes: "govuk-checkboxes--small",
      name: "descriptionReportedByEmail",
      id: "descriptionReportedByEmail",
      items: [
        {
          value: "true",
          checked: descriptionReportedByEmail === 'true',
          text: "Reported by email",
          conditional: {
            html: emailReportHtml
          }
        }
      ]
    }) }}
  
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-!-padding-bottom-9"></div>
    <div class="govuk-!-padding-bottom-9"></div>
    <div class="govuk-!-padding-bottom-4"></div>
  
    {{ govukRadios({
      classes: "govuk-radios--small",
      name: "descriptionIncidentType",
      id: "descriptionIncidentType",
      fieldset: {
        legend: {
          text: "Incident type",
          classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-2"
        }
      },
      value: '', 
      errorMessage: '',
      items: [
      {
        checked: descriptionIncidentType == reportTypes.waterPollution.value,
        value: reportTypes.waterPollution.value,
        text: reportTypes.waterPollution.text
      },
      {
        checked: descriptionIncidentType == reportTypes.odour.value,
        value: reportTypes.odour.value,
        text: reportTypes.odour.text
      },
      {
        checked: descriptionIncidentType == reportTypes.watercourseBlockage.value,
        value: reportTypes.watercourseBlockage.value,
        text: reportTypes.watercourseBlockage.text
      }, 
      {
        checked: descriptionIncidentType == reportTypes.abstractionLow.value,
        value: reportTypes.abstractionLow.value,
        text: reportTypes.abstractionLow.text
      },
      {
        checked: descriptionIncidentType == reportTypes.watercourseAlteration.value,
        value: reportTypes.watercourseAlteration.value,
        text: reportTypes.watercourseAlteration.text
      },
      {
        checked: descriptionIncidentType == reportTypes.beachPollution.value,
        value: reportTypes.beachPollution.value,
        text: reportTypes.beachPollution.text
      },
      {
        checked: descriptionIncidentType == reportTypes.burningWaste.value,
        value: reportTypes.burningWaste.value,
        text: reportTypes.burningWaste.text
      },
      {
        checked: descriptionIncidentType == reportTypes.damageToNature.value,
        value: reportTypes.damageToNature.value,
        text: reportTypes.damageToNature.text
      },
      {
        checked: descriptionIncidentType == reportTypes.dust.value,
        value: reportTypes.dust.value,
        text: reportTypes.dust.text
      },
      {
        checked: descriptionIncidentType == reportTypes.fire.value,
        value: reportTypes.fire.value,
        text: reportTypes.fire.text
      },
      {
        checked: descriptionIncidentType == reportTypes.fishDisease.value,
        value: reportTypes.fishDisease.value,
        text: reportTypes.fishDisease.text
      },
      {
        checked: descriptionIncidentType == reportTypes.fishKill.value,
        value: reportTypes.fishKill.value,
        text: reportTypes.fishKill.text
      },
      {
        checked: descriptionIncidentType == reportTypes.flies.value,
        value: reportTypes.flies.value,
        text: reportTypes.flies.text
      },
      {
        checked: descriptionIncidentType == reportTypes.floodingExternal.value,
        value: reportTypes.floodingExternal.value,
        text: reportTypes.floodingExternal.text
      },
      {
        checked: descriptionIncidentType == reportTypes.floodingInternal.value,
        value: reportTypes.floodingInternal.value,
        text: reportTypes.floodingInternal.text
      },
      {
        checked: descriptionIncidentType == reportTypes.flyTipping.value,
        value: reportTypes.flyTipping.value,
        text: reportTypes.flyTipping.text
      },
      {
        checked: descriptionIncidentType == reportTypes.healthyConcern.value,
        value: reportTypes.healthyConcern.value,
        text: reportTypes.healthyConcern.text
      },
      {
        checked: descriptionIncidentType == reportTypes.illegalFishing.value,
        value: reportTypes.illegalFishing.value,
        text: reportTypes.illegalFishing.text
      },
      {
        checked: descriptionIncidentType == reportTypes.illegalWasteSite.value,
        value: reportTypes.illegalWasteSite.value,
        text: reportTypes.illegalWasteSite.text
      },
      {
        checked: descriptionIncidentType == reportTypes.invasiveSpecies.value,
        value: reportTypes.invasiveSpecies.value,
        text: reportTypes.invasiveSpecies.text
      },
      {
        checked: descriptionIncidentType == reportTypes.landContamination.value,
        value: reportTypes.landContamination.value,
        text: reportTypes.landContamination.text
      },
      {
        checked: descriptionIncidentType == reportTypes.litter.value,
        value: reportTypes.litter.value,
        text: reportTypes.litter.text
      },
      {
        checked: descriptionIncidentType == reportTypes.mud.value,
        value: reportTypes.mud.value,
        text: reportTypes.mud.text
      },
      {
        checked: descriptionIncidentType == reportTypes.navigationIncident.value,
        value: reportTypes.navigationIncident.value,
        text: reportTypes.navigationIncident.text
      },
      {
        checked: descriptionIncidentType == reportTypes.noise.value,
        value: reportTypes.noise.value,
        text: reportTypes.noise.text
      },
      {
        checked: descriptionIncidentType == reportTypes.oilAndChemicalSpills.value,
        value: reportTypes.oilAndChemicalSpills.value,
        text: reportTypes.oilAndChemicalSpills.text
      },
      {
        checked: descriptionIncidentType == reportTypes.radioactiveAndNuclear.value,
        value: reportTypes.radioactiveAndNuclear.value,
        text: reportTypes.radioactiveAndNuclear.text
      },
      {
        checked: descriptionIncidentType == reportTypes.reservoirIncident.value,
        value: reportTypes.reservoirIncident.value,
        text: reportTypes.reservoirIncident.text
      },
      {
        checked: descriptionIncidentType == reportTypes.roadTrafficCollision.value,
        value: reportTypes.roadTrafficCollision.value,
        text: reportTypes.roadTrafficCollision.text
      },
      {
        checked: descriptionIncidentType == reportTypes.suspectedPermitBreach.value,
        value: reportTypes.suspectedPermitBreach.value,
        text: reportTypes.suspectedPermitBreach.text
      },
      {
        checked: descriptionIncidentType == reportTypes.vermin.value,
        value: reportTypes.vermin.value,
        text: reportTypes.vermin.text
      },
      {
        checked: descriptionIncidentType == reportTypes.wasteCarrier.value,
        value: reportTypes.wasteCarrier.value,
        text: reportTypes.wasteCarrier.text
      },
      {
        divider: "or"
      },
      {
        checked: descriptionIncidentType == reportTypes.other.value,
        value: reportTypes.other.value,
        text: reportTypes.other.text
      }
    ]
    }) }}
  

    <button id="toggle-incident-types" class="govuk-body pretendlink">
      Hide all incident types
    </button>

  
    <div class="govuk-!-padding-bottom-5"></div>
  </div>
</div>