{% from "dist/govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "dist/govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "dist/govuk/components/input/macro.njk" import govukInput %}
{% from "dist/govuk/components/radios/macro.njk" import govukRadios %}

{% set emailReportHtml %}
  {{ govukDateInput({
    id: "emailReportDate",
    fieldset: {
      legend: {
        text: "Date of email",
        classes: "govuk-fieldset__legend--s govuk-!-padding-top-3"
      }
    },
    items: [
      {
        name: "emailReportDateDay",
        id: "emailReportDateDay",
        label: "Day",
        value: '',
        classes: "govuk-input--width-2"
      },
      {
        name: "emailReportDateMonth",
        id: "emailReportDateMonth",
        label: "Month",
        value: '',
        classes: "govuk-input--width-2"
      },
      {
        name: "emailReportDateYear",
        id: "emailReportDateYear",
        label: "Year",
        value: '',
        classes: "govuk-input--width-4"
      }
    ]    
  }) }}

  {{ govukInput({
    id: "emailReportTime",
    name: "emailReportTime",
    classes: "govuk-input--width-5",
    value: '',
    autocomplete: "off",
    label: {
      text: "Time of email",
      classes: "govuk-fieldset__legend--s"
    },
    hint: {
      text: "For example, 09:30 or 18:45."
    }
  }) }}

{% endset -%}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l govuk-!-margin-bottom-4 govuk-!-margin-top-7" for="create-description">
          Incident description
        </label>
      </h1>
      <p class="govuk-body">
        <a href="https://defra.sharepoint.com/teams/Team3360/SitePages/ICS-Knowledge-Base.aspx" class="govuk-link--no-visited-state" target="_new">
        Open the knowledge base</a>.
      </p>
        <textarea class="govuk-textarea" id="create-description" name="create-description" rows="12">{{data['create-description']}}</textarea>
      </textarea>
    </div>

    {{ govukCheckboxes({
      classes: "govuk-checkboxes--small",
      name: "notified",
      id: "notifed",
      values: '',
      items: [
        {
          value: "email",
          text: "Reported by email",
          conditional: {
            html: emailReportHtml
          }
        }
      ]
    }) }}
  
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-!-padding-bottom-9"></div>
    <div class="govuk-!-padding-bottom-9"></div>
    <div class="govuk-!-padding-bottom-4"></div>
  
    {{ govukRadios({
      classes: "govuk-radios--small",
      name: "incidentType",
      id: "incidentType",
      fieldset: {
        legend: {
          text: "Incident type",
          classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-2"
        }
      },
      value: '', 
      errorMessage: '',
      items: [
      {
        value: "Water pollution",
        text: "Water pollution, including sewage"
      },
      {
        value: "Odour",
        text: "Odour (unpleasant smell)"
      },
      {
        value: "Blockage in a watercourse",
        text: "Blockage in a watercourse"
      }, 
      {
        value: "Abstraction",
        text: "Abstraction/low levels"
      },
      {
        value: "Alteration to a water course",
        text: "Alteration to a water course"
      },
      {
        value: "Beach pollution",
        text: "Beach pollution"
      },
      {
        value: "Burning of waste",
        text: "Burning of waste"
      },
      {
        value: "Damage to nature",
        text: "Damage to nature"
      },
      {
        value: "Dust",
        text: "Dust"
      },
      {
        value: "Fire",
        text: "Fire"
      },
      {
        value: "Fish disease",
        text: "Fish disease"
      },
      {
        value: "Fish kill",
        text: "Fish kill"
      },
      {
        value: "Flies",
        text: "Flies"
      },
      {
        value: "Flooding - external report",
        text: "Flooding - external report"
      },
      {
        value: "Flooding - internal report",
        text: "Flooding - internal report"
      },
      {
        value: "Flytipping",
        text: "Flytipping"
      },
      {
        value: "Healthy concern",
        text: "Healthy concern"
      },
      {
        value: "Illegal fishing",
        text: "Illegal fishing"
      },
      {
        value: "Illegal waste site",
        text: "Illegal waste site"
      },
      {
        value: "Invasive species",
        text: "Invasive species"
      },
      {
        value: "Land contamination",
        text: "Land contamination"
      },
      {
        value: "Litter",
        text: "Litter"
      },
      {
        value: "Mud",
        text: "Mud"
      },
      {
        value: "Navigation incident",
        text: "Navigation incident"
      },
      {
        value: "Noise",
        text: "Noise"
      },
      {
        value: "Oil and chemical spills",
        text: "Oil and chemical spills"
      },
      {
        value: "Radioactive and nuclear",
        text: "Radioactive and nuclear"
      },
      {
        value: "Reservoir incident",
        text: "Reservoir incident"
      },
      {
        value: "Road traffic collision",
        text: "Road traffic collision"
      },
      {
        value: "Suspected permit breach",
        text: "Suspected permit breach"
      },
      {
        value: "Vermin",
        text: "Vermin"
      },
      {
        value: "Waste carrier",
        text: "Waste carrier"
      },
      {
        divider: "or"
      },
      {
        value: "Other",
        text: "Other"
      }
    ]
    }) }}
  

    <button id="toggle-incident-types" class="govuk-body pretendlink">
      Hide all incident types
    </button>

  
    <div class="govuk-!-padding-bottom-5"></div>
  </div>
</div>