{% from "dist/govuk/components/input/macro.njk" import govukInput %}
{% from "dist/govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "dist/govuk/components/error-summary/macro.njk" import govukErrorSummary %}

<div class="govuk-grid-row">
  {% if errorSummary.location.errorList|length %}
    <div class="govuk-grid-column-full">
      {{ govukErrorSummary(errorSummary.location) }}
    </div>
  {% endif %}
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-7">Location of incident</h1>

      {{ govukInput({
        name: "locationGridRef",
        id: "locationGridRef",
        label: {
          text: "National grid reference"
        },
        classes: "govuk-input--width-10",
        value: locationGridRef,
        errorMessage: findErrorMessageById(errorSummary.location, "locationGridRef"),
        autocomplete: "off"
      }) }}

    <div class="govuk-!-padding-bottom-4"></div>

      {{ govukTextarea({
        name: "locationDescription",
        id: "locationDescription",
        rows: "6",
        label: {
          text: "Location description (optional)"
        },
        hint: {
          html: "Include things like the name of the watercourse and nearest town or landmarks. You can also include things like <a href='http://www.what3words.com' target='_new'>what3words</a> or map references."
        },
        value: locationDescription
      }) }}
  
  </div>
</div>