{% from "dist/govuk/components/button/macro.njk" import govukButton %}
{% from "dist/govuk/components/input/macro.njk" import govukInput %}
{% from "dist/govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "dist/govuk/components/radios/macro.njk" import govukRadios %}
{% from "dist/govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "dist/govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% set grifReferenceHtml %}
  <div class="govuk-!-width-three-quarters">
    {{ govukInput({
      name: "locationGridRef",
      id: "locationGridRef",
      label: { text: "National grid reference" },
      classes: "govuk-input--width-10",
      value: locationGridRef,
      errorMessage: findErrorMessageById(errorSummary.location, "locationGridRef"),
      autocomplete: "off"
    }) }}

    <div class="govuk-!-padding-bottom-4"></div>

    {{ govukCharacterCount({
      name: "locationDescription",
      id: "locationDescription",
      rows: "3",
      maxlength: 150,
      threshold: 90,
      label: { text: "Location description (optional)" },
      hint: {
        html: "Include things like the name of the watercourse and nearest town or landmarks. You can also include things like <a href='http://www.what3words.com' target='_new'>what3words</a> or map references."
      },
      value: locationDescription | safe,
      errorMessage: findErrorMessageById(errorSummary.location, "locationDescription")
    }) }}

    {{ govukCheckboxes({
      classes: "govuk-checkboxes--small",
      name: "reporterHomeAddressGridRef",
      id: "reporterHomeAddressGridReference",
      items: [
        {
          value: "Yes",
          checked: reporterHomeAddress === 'Yes' and selectGridReference,
          text: "This is the reporter's home address"
        }
      ]
    }) }}
  </div>
{% endset %}

{% set addressHtml %}
  {% if addressChosen %}
    <div>
      <p class="govuk-body">
        {{ addressLine1 }}<br />
        {% if addressLine2 %}
          {{ addressLine2 }}<br />
        {% endif %}
        {{ townOrCity }}<br />
        {{ postcode }}
      </p>
      <p class="govuk-body govuk-!-margin-top-6">      
      <button type="submit" name="action" value="different-address" class="button-no-style govuk-link" data-module="govuk-button">
        Find a different addresss
      </button>
      </p>
    </div>

    {{ govukCheckboxes({
      classes: "govuk-checkboxes--small govuk-!-padding-top-6",
      name: "reporterHomeAddress",
      id: "reporterHomeAddressAddress",
      items: [
        {
          value: "Yes",
          checked: reporterHomeAddress === 'Yes' and selectAddress,
          text: "This is the reporter's home address"
        }
      ]
    }) }}

  {% else %}
    <div>
      {{ govukInput({
        errorMessage: findErrorMessageById(errorSummary.location, "buildingDetails"),
        label: {
          text: "Building number or name",
          classes: "govuk-label"
        },
        hint: { text: "For example, 15 or Prospect Cottage" },
        classes: "govuk-!-width-one-half",
        id: "buildingDetails",
        name: "buildingDetails",
        value: buildingDetails
      }) }}

      {{ govukInput({
        errorMessage: findErrorMessageById(errorSummary.location, "postcodeDetails"),
        label: {
          text: "Postcode",
          classes: "govuk-label"
        },
        classes: "govuk-input--width-10",
        id: "postcodeDetails",
        name: "postcodeDetails",
        autocomplete: "postal-code",
        value: postcodeDetails
      }) }}
      
      <button type="submit" name="action" value="find-address" class="govuk-button govuk-button--secondary govuk-!-margin-top-6 govuk-!-margin-bottom-0" data-module="govuk-button">
        Find address
      </button>
    </div>
  {% endif %}

{% endset %}

<div class="govuk-grid-column-full govuk-!-padding-top-7 govuk-!-margin-left-0">
  {{ govukRadios({
    classes: "govuk-radios--small",
    name: "locationOfIncident",
    id: "locationOfIncident",
    fieldset: {
      legend: {
        text: "Location of incident",
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: { text: "This means where the reporter saw or experienced the problem, not the source." },
    items: [
      {
        value: "gridReference",
        text: "Grid reference",
        checked: selectGridReference,
        conditional: { html: grifReferenceHtml }
      },
      {
        value: "address",
        text: "Address",
        checked: selectAddress,
        conditional: { html: addressHtml }
      }
    ]
  }) }}
</div>