{% from "dist/govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "dist/govuk/components/back-link/macro.njk" import govukBackLink %}

<div class="govuk-grid-row">
  {% if errorSummary.location.errorList|length %}
  <div class="govuk-grid-column-full">
    {{ govukErrorSummary(errorSummary.location) }}
  </div>
  {% endif %}

  {% if showChooseAddress %}
    {% include "partials/choose-address.html" %}
  {% else %}
    {% include "partials/location-of-incident.html" %}
  {% endif %}

</div>