{% from "dist/govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "dist/govuk/components/input/macro.njk" import govukInput %}
{% from "dist/govuk/components/radios/macro.njk" import govukRadios %}
{% from "dist/govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "dist/govuk/components/error-summary/macro.njk" import govukErrorSummary %}

<div class="govuk-grid-row">
  {% if errorSummary.reporter.errorList|length %}
    <div class="govuk-grid-column-full">
      {{ govukErrorSummary(errorSummary.reporter) }}
    </div>
  {% endif %}
  <div class="govuk-grid-column-one-half">

    {% call govukFieldset({
      legend: {
        text: 'Reporter',
        classes: "govuk-fieldset__legend--l govuk-!-padding-top-7 govuk-!-padding-bottom-4",
        isPageHeading: true
      }
    }) %}

    <p class="govuk-body">If the reporter does not want to give these details, leave blank.</p>

    {{ govukInput({
      id: "reporterFirstName",
      name: "reporterFirstName",
      label: {
        text: "First name"
      },
      classes: "govuk-!-width-full",
      value: reporterFirstName,
      autocomplete: "off"
    }) }}

    {{ govukInput({
      id: "reporterLastName",
      name: "reporterLastName",
      label: {
        text: "Last name"
      },
      classes: "govuk-!-width-full",
      value: reporterLastName,
      autocomplete: "off"
    }) }}

    {{ govukInput({
      id: "reporterEmail",
      name: "reporterEmail",
      label: {
        text: "Email"
      },
      errorMessage: findErrorMessageById(errorSummary.reporter, "reporterEmail"),
      classes: "govuk-!-width-full",
      value: reporterEmail,
      autocomplete: "off"
    }) }}

    {{ govukInput({
      id: "reporterPhone",
      name: "reporterPhone",
      label: {
        text: "Phone number"
      },
      errorMessage: findErrorMessageById(errorSummary.reporter, "reporterPhone"),
      classes: "govuk-input--width-10",
      value: reporterPhone,
      autocomplete: "off"
    }) }}

    {% endcall %}

    <div class="govuk-!-padding-bottom-8"></div>

    {{ govukRadios({
      id: "reporterPhotos",
      name: "reporterPhotos",
      classes: "govuk-radios--small",
      fieldset: {
        legend: {
          text: "Has photos or videos of problem",
          classes: "govuk-fieldset__legend--m"
        }
      },
      value: '',
      errorMessage: findErrorMessageById(errorSummary.reporter, "reporterPhotos"),
      items: [
        {
          checked: reporterPhotos === 'Yes',
          value: "Yes",
          text: "Yes — reporter must give their email"
        },
        {
          checked: reporterPhotos === 'No',
          value: "No",
          text: "No"
        }
      ]
    }) }}

  </div>
  <div class="govuk-grid-column-one-half govuk-!-padding-left-7">

    <div class="govuk-!-padding-bottom-9"></div>
    <div class="govuk-!-padding-bottom-8"></div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            External organisation report
          </h1>
        </legend>

        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="water" name="reporterOrgType" type="checkbox" value="water" {%if reporterOrgType === 'water'%}checked{% endif %}>
            <label class="govuk-label govuk-checkboxes__label" for="water">
              Water company
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="other" name="reporterOrgType" type="checkbox" value="other" {%if reporterOrgType === 'other'%}checked{% endif %}>
            <label class="govuk-label govuk-checkboxes__label" for="other">
              Public organisation
            </label>
            <div id="signIn-item-hint" class="govuk-hint govuk-checkboxes__hint">
              For example the fire service or a local authority
            </div>
          </div>

        </div>
      </fieldset>
    </div>


    <div class="govuk-!-padding-bottom-3"></div>

    <div id="waterCompanyRadios" style="display: none;">
    {{ govukRadios({
      classes: "govuk-radios--small",
      name: "reporterWaterName",
      fieldset: {
        legend: {
          text: "Water company name",
          classes: "govuk-fieldset__legend--s"
        }
      },
      id: "reporterWaterName",
      errorMessage: findErrorMessageById(errorSummary.reporter, "reporterWaterName"),
      items: [
       {
          checked: reporterWaterName === 'Southern Water Services Ltd',
          value: "Southern Water Services Ltd",
          text: "Southern Water Services Ltd"
        },
        {
          checked: reporterWaterName === 'Anglian Water Services Limited',
          value: "Anglian Water Services Limited",
          text: "Anglian Water Services Limited"
        },
        {
          checked: reporterWaterName === 'United Utilities Water Ltd',
          value: "United Utilities Water Ltd",
          text: "United Utilities Water Ltd"
        },
        {
          checked: reporterWaterName === 'Severn Trent Water Ltd',
          value: "Severn Trent Water Ltd",
          text: "Severn Trent Water Ltd"
        },
        {
          checked: reporterWaterName === 'Thames Water Utilities Ltd',
          value: "Thames Water Utilities Ltd",
          text: "Thames Water Utilities Ltd"
        },
        {
          checked: reporterWaterName === 'Northumbrian Water plc',
          value: "Northumbrian Water plc",
          text: "Northumbrian Water plc"
        },
        {
          checked: reporterWaterName === 'South West Water Ltd',
          value: "South West Water Ltd",
          text: "South West Water Ltd"
        },
        {
          checked: reporterWaterName === 'Wessex Water Service Ltd',
          value: "Wessex Water Service Ltd",
          text: "Wessex Water Service Ltd"
        },
        {
          checked: reporterWaterName === 'Yorkshire Water Services Ltd',
          value: "Yorkshire Water Services Ltd",
          text: "Yorkshire Water Services Ltd"
        },
        {
          checked: reporterWaterName === 'South East Water Ltd',
          value: "South East Water Ltd",
          text: "South East Water Ltd"
        },
        {
          checked: reporterWaterName === 'Dwr Cymru (Welsh Water)',
          value: "Dwr Cymru (Welsh Water)",
          text: "Dwr Cymru (Welsh Water)"
        },
        {
          checked: reporterWaterName === 'Bristol Water plc',
          value: "Bristol Water plc",
          text: "Bristol Water plc"
        },
        {
          checked: reporterWaterName === 'Albion Water Ltd',
          value: "Albion Water Ltd",
          text: "Albion Water Ltd"
        },
        {
          checked: reporterWaterName === 'Veolia Water South East',
          value: "Veolia Water South East",
          text: "Veolia Water South East"
        },
        {
          checked: reporterWaterName === 'Veolia Water Central Ltd',
          value: "Veolia Water Central Ltd",
          text: "Veolia Water Central Ltd"
        },
        {
          checked: reporterWaterName === 'Portsmouth Water plc',
          value: "Portsmouth Water plc",
          text: "Portsmouth Water plc"
        },
        {
          checked: reporterWaterName === 'Affinity Water Limited',
          value: "Affinity Water Limited",
          text: "Affinity Water Limited"
        },
        {
          checked: reporterWaterName === 'Cambridge Water Company plc',
          value: "Cambridge Water Company plc",
          text: "Cambridge Water Company plc"
        },
        {
          checked: reporterWaterName === 'Essex & Suffolk Water plc',
          value: "Essex & Suffolk Water plc",
          text: "Essex & Suffolk Water plc"
        },
        {
          checked: reporterWaterName === 'Sutton and East Surrey Water plc',
          value: "Sutton and East Surrey Water plc",
          text: "Sutton and East Surrey Water plc"
        },
        {
          checked: reporterWaterName === 'Veolia Water East Ltd',
          value: "Veolia Water East Ltd",
          text: "Veolia Water East Ltd"
        },
        {
          checked: reporterWaterName === 'Dee Valley Water',
          value: "Dee Valley Water",
          text: "Dee Valley Water"
        },
        {
          checked: reporterWaterName === 'Hartlepool Water plc',
          value: "Hartlepool Water plc",
          text: "Hartlepool Water plc"
        },
        {
          checked: reporterWaterName === 'Northumbrian Water plc',
          value: "Northumbrian Water plc",
          text: "Northumbrian Water plc"
        },
        {
          checked: reporterWaterName === 'Sembcorp Bournemouth Water',
          value: "Sembcorp Bournemouth Water",
          text: "Sembcorp Bournemouth Water"
        },
        {
          checked: reporterWaterName === 'South Staffordshire Water plc',
          value: "South Staffordshire Water plc",
          text: "South Staffordshire Water plc"
        }
      ]
    }) }}
    </div>

    <div id="organisationInput" style="display: none;">
      {{ govukInput({
        id: "reporterOtherName",
        name: "reporterOtherName",
        value: reporterOtherName,
        errorMessage: findErrorMessageById(errorSummary.reporter, "reporterOtherName"),
        label: {
          text: "Organisation name",
          classes: "govuk-fieldset__legend--s"
        }
      }) }}
    </div>

    </div>
</div>