{% from "dist/govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "dist/govuk/components/input/macro.njk" import govukInput %}
{% from "dist/govuk/components/radios/macro.njk" import govukRadios %}
{% from "dist/govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "dist/govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "dist/govuk/components/select/macro.njk" import govukSelect %}

<div class="govuk-grid-row">
  {% if errorSummary.reporter.errorList|length %}
    <div class="govuk-grid-column-full">
      {{ govukErrorSummary(errorSummary.reporter) }}
    </div>
  {% endif %}
  
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-padding-top-7">
      Reporter
    </h1>
  </div>
  
  <div class="govuk-inset-text govuk-!-margin-left-5 govuk-!-margin-right-5">
    If the reporter wants a reference number they must give an email. The reference will be emailed to them once the report is sent to NIRS.
  </div>

  <div class="govuk-grid-column-one-half">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Reporter details
        </h1>
      </legend>

      <p class="govuk-body">If the reporter does not want to give these details, leave blank.</p>

      {{ govukInput({
        errorMessage: findErrorMessageById(errorSummary.reporter, "reporterFirstName"),
        id: "reporterFirstName",
        name: "reporterFirstName",
        label: {
          text: "First name"
        },
        classes: "govuk-input--width-10",
        value: reporterFirstName,
        autocomplete: "off"
      }) }}

      {{ govukInput({
        errorMessage: findErrorMessageById(errorSummary.reporter, "reporterLastName"),
        id: "reporterLastName",
        name: "reporterLastName",
        label: {
          text: "Last name"
        },
        classes: "govuk-!-width-full",
        value: reporterLastName,
        autocomplete: "off"
      }) }}

      {{ govukInput({
        id: "reporterEmail",
        name: "reporterEmail",
        label: {
          text: "Email"
        },
        errorMessage: findErrorMessageById(errorSummary.reporter, "reporterEmail"),
        classes: "govuk-!-width-full",
        value: reporterEmail,
        autocomplete: "off"
      }) }}

      {{ govukInput({
        id: "reporterPhone",
        name: "reporterPhone",
        label: {
          text: "Phone number"
        },
        errorMessage: findErrorMessageById(errorSummary.reporter, "reporterPhone"),
        classes: "govuk-input--width-10",
        value: reporterPhone,
        autocomplete: "off"
      }) }}

      {{ govukInput({
        id: "reporterReference",
        name: "reporterReference",
        label: {
          text: "Reporter's reference (optional)"
        },
        hint: {
          text: "For example, an internal reference number if a water company report."
        },
        errorMessage: findErrorMessageById(errorSummary.reporter, "reporterReference"),
        classes: "govuk-!-width-full",
        value: reporterReference,
        autocomplete: "off"
      }) }}

      {{ govukCheckboxes({
        idPrefix: "reporterMediaAvailable",
        name: "reporterMediaAvailable",
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "Photos or videos available",
            classes: "govuk-fieldset__legend--m govuk-!-padding-top-6"
          }
        },
        hint: {
          text: "Reporters must give their email if they want to send photos or video."
        },
        items: [
          {
            checked: reporterPhotos === 'Yes',
            name: "reporterPhotos",
            value: "Yes",
            text: "Photos"
          },
          {
            checked: reporterVideos === 'Yes',
            name: "reporterVideos",
            value: "Yes",
            text: "Video"
          }
        ]
      }) }}

    </fieldset>
  </div>

  <div class="govuk-grid-column-one-half govuk-!-padding-left-7">
    {% set waterCompanyHtml %}
    {# 
      Double space in value for "Veolia Water  Central Ltd" and "Dwr Cymru  (Welsh Water)"
      required for NIRS, don't remove. 
    #}
    {{ govukSelect({
      name: "reporterWaterName",
      id: "reporterWaterName",
      label: {
        text: "Water company name"
      },
      hint: {
        text: "Start typing a water company name"
      },
      errorMessage: findErrorMessageById(errorSummary.reporter, "reporterWaterName"),
      items: [
        {
          selected: true,
          value: "",
          text: ""
        },
        {
          selected: reporterWaterName === 'Affinity Water Limited',
          value: "Affinity Water Limited",
          text: "Affinity Water Limited"
        },
        {
          selected: reporterWaterName === 'Albion Water Ltd',
          value: "Albion Water Ltd",
          text: "Albion Water Ltd"
        },
        {
          selected: reporterWaterName === 'Anglian Water Services Limited',
          value: "Anglian Water Services Limited",
          text: "Anglian Water Services Limited"
        },
        {
          selected: reporterWaterName === 'Bristol Water plc',
          value: "Bristol Water plc",
          text: "Bristol Water plc"
        },
        {
          selected: reporterWaterName === 'Cambridge Water Company plc',
          value: "Cambridge Water Company plc",
          text: "Cambridge Water Company plc"
        },
        {
          selected: reporterWaterName === 'Dee Valley Water',
          value: "Dee Valley Water",
          text: "Dee Valley Water"
        },
        {
          selected: reporterWaterName === 'Dwr Cymru (Welsh Water)',
          value: "Dwr Cymru  (Welsh Water)",
          text: "Dwr Cymru (Welsh Water)"
        },
        {
          selected: reporterWaterName === 'Essex & Suffolk Water plc',
          value: "Essex & Suffolk Water plc",
          text: "Essex & Suffolk Water plc"
        },
        {
          selected: reporterWaterName === 'Hartlepool Water plc',
          value: "Hartlepool Water plc",
          text: "Hartlepool Water plc"
        },
        {
          selected: reporterWaterName === 'Northumbrian Water Ltd',
          value: "Northumbrian Water Ltd",
          text: "Northumbrian Water Ltd"
        },
        {
          selected: reporterWaterName === 'Portsmouth Water plc',
          value: "Portsmouth Water plc",
          text: "Portsmouth Water plc"
        },
        {
          selected: reporterWaterName === 'Sembcorp Bournemouth Water',
          value: "Sembcorp Bournemouth Water",
          text: "Sembcorp Bournemouth Water"
        },
        {
          selected: reporterWaterName === 'Severn Trent Water Ltd',
          value: "Severn Trent Water Ltd",
          text: "Severn Trent Water Ltd"
        },
        {
          selected: reporterWaterName === 'South East Water Ltd',
          value: "South East Water Ltd",
          text: "South East Water Ltd"
        },
        {
          selected: reporterWaterName === 'South Staffordshire Water plc',
          value: "South Staffordshire Water plc",
          text: "South Staffordshire Water plc"
        },
        {
          selected: reporterWaterName === 'South West Water Ltd',
          value: "South West Water Ltd",
          text: "South West Water Ltd"
        },
        {
          selected: reporterWaterName === 'Southern Water Services Ltd',
          value: "Southern Water Services Ltd",
          text: "Southern Water Services Ltd"
        },
        {
          selected: reporterWaterName === 'Sutton and East Surrey Water plc',
          value: "Sutton and East Surrey Water plc",
          text: "Sutton and East Surrey Water plc"
        },
        {
          selected: reporterWaterName === 'Thames Water Utilities Ltd',
          value: "Thames Water Utilities Ltd",
          text: "Thames Water Utilities Ltd"
        },
        {
          selected: reporterWaterName === 'United Utilities Water Ltd',
          value: "United Utilities Water Ltd",
          text: "United Utilities Water Ltd"
        },
        {
          selected: reporterWaterName === 'Veolia Water Central Ltd',
          value: "Veolia Water  Central Ltd",
          text: "Veolia Water Central Ltd"
        },
        {
          selected: reporterWaterName === 'Veolia Water East Ltd',
          value: "Veolia Water East Ltd",
          text: "Veolia Water East Ltd"
        },
        {
          selected: reporterWaterName === 'Veolia Water South East',
          value: "Veolia Water South East",
          text: "Veolia Water South East"
        },
        {
          selected: reporterWaterName === 'Wessex Water Service Ltd',
          value: "Wessex Water Service Ltd",
          text: "Wessex Water Service Ltd"
        },
        {
          selected: reporterWaterName === 'Yorkshire Water Services Ltd',
          value: "Yorkshire Water Services Ltd",
          text: "Yorkshire Water Services Ltd"
        }
      ]
    }) }}
    {% endset -%}

    {% set organisationHtml %}
      {{ govukInput({
        id: "reporterOtherName",
        name: "reporterOtherName",
        value: reporterOtherName,
        errorMessage: findErrorMessageById(errorSummary.reporter, "reporterOtherName"),
        label: {
          text: "Organisation name"
        }
      }) }}

      {{ govukInput({
        id: "reporterRole",
        name: "reporterRole",
        value: reporterRole,
        classes: "govuk-input--width-10",
        errorMessage: findErrorMessageById(errorSummary.reporter, "reporterRole"),
        label: {
          text: "Reporter role or job title (optional)"
        }
      }) }}
    {% endset -%}

    {{ govukRadios({
        id: "reporterType",
        name: "reporterType",
        classes: "govuk-radios--small",
        fieldset: {
          legend: {
            text: "Type of reporter",
            classes: "govuk-fieldset__legend--m"
          }
        },
        errorMessage: findErrorMessageById(errorSummary.reporter, "reporterType"),
        items: [
          {
            id: "public",
            checked: reporterType === 'public',
            value: "public",
            text: "Member of public"
          },
          {
            id: "water",
            checked: reporterType === 'water',
            value: "water",
            text: "Water company",
            conditional: {
              html: waterCompanyHtml
            }
          },
          {
            id: "other",
            checked: reporterType === 'other',
            value: "other",
            text: "Other company or organisation",
            hint: {
              text: "For example the Environment Agency (internal reports). fire service or a local authority"
            },
            conditional: {
              html: organisationHtml
            }
          }
        ]
      }) }}
    <div class="govuk-!-padding-bottom-3"></div>
  </div>
  <style>
    .govuk-grid-column-full .govuk-inset-text {
      border-left: 10px solid #F47738;
      background-color: rgb(255 229 204 / 60%)
    }
  </style>
</div>

{% block bodyEnd %}
  <link rel="stylesheet" href="public/css/accessible-autocomplete.min.css">
{% endblock %}