{% extends 'layout.html' %}
{% set pageTitle = 'Sorry, there is a problem with the service' %}
{% set metaDescription = 'The report an environmental problem service is currently unavailable. You can report an environmental incident on GOV.UK.' %}
{% set hideBackLink = true %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p>Try again later.</p>
      <p>We have not saved your answers. When the service is available, you will have to start again.</p>
      <div class="govuk-button-group govuk-!-margin-top-5">
      <a class="govuk-button govuk-button--secondary govuk-!-margin-right-5" data-module="govuk-button" href="/">
        Start a new report
      </a>
    </div>
    </div>
  </div>
{% endblock %}
