{% extends 'layout.html' %}

{% set pageTitle = 'Accessibility statement' %}
{% set pageHeader = 'Accessibility statement for the ' + serviceName + ' service' %}
{% set metaDescription = 'This statement applies to the Report an environmental problem service which is designed to be
used by as many people as possible.' %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            {{ pageHeader }}
        </h1>
        <p>
            This service is part of GOV.UK. There's a separate
            <a href="https://www.gov.uk/help/accessibility-statement" rel="noopener noreferrer" target="_blank"
                aria-describedby="new-window-0" class="govuk-link">
                accessibility statement for the main GOV.UK website</a>.
        </p>
        <p class="govuk-body">
            This page only contains information about the Report an environmental problem service, available at
            <a href="#" rel="noopener noreferrer" target="_blank" aria-describedby="new-window-0"
                class="govuk-link">https://report-an-environmental-problem.service.gov.uk</a>.
        </p>
        <h2 class="govuk-heading-l">
            Using this service
        </h2>
        <p class="govuk-body">
            This service is run by the Environment Agency. We want as many people as possible to be able to use this
            service. This means you should, for example, be able to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>change colours, contrast levels and fonts</li>
            <li>zoom in up to 300% without the text spilling off the screen</li>
            <li>get from the start of the service to the end using just a keyboard</li>
            <li>get from the start of the service to the end using speech recognition software</li>
            <li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and
                VoiceOver)</li>
        </ul>
        <p class="govuk-body">
            We’ve also made the text in the service as simple as possible to understand.
        </p>
        <p class="govuk-body">
            <a href="https://mcmw.abilitynet.org.uk/" rel="noopener noreferrer" target="_blank"
                aria-describedby="new-window-0" class="govuk-link">
                AbilityNet</a>
            has advice on making your device easier to use if you have a disability.
        </p>
        <h2 class="govuk-heading-l">
            How accessible this service is
        </h2>
        <p class="govuk-body">
            Users of specific technology may experience the following issues when using the service:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>JAWS screen reader software may not read out all page headings in Internet Explorer 11 – this is a known
                issue with JAWS version 18 or above, we recommend using a different browser to avoid this problem</li>
            <li>Dragon speech recognition software – links that reveal hidden text on a page will not respond to the
                ‘click link’ command, but will respond to ‘click button’ – this is a
                <a href="https://github.com/alphagov/govuk-design-system-backlog/issues/44#issuecomment-628082040"
                    rel="noopener noreferrer" target="_blank" aria-describedby="new-window-0" class="govuk-link">known
                    issue with the GOV.UK Design System details component</a>
            </li>
            <li>if you do not have JavaScript enabled in your browser, you may not be able to use some features of the
                service</li>
        </ul>
        <p>Additionally, we know some parts of this website are not fully accessible. For example:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>some mapping tools are not accessible for those using assistive technology</li>
            <li>in some situations, the contrast of colours on maps is not high enough to be legible to all users</li>
        </ul>

        <h2 class="govuk-heading-l">
            What to do if you have difficulty using this service
        </h2>
        <p class="govuk-body">
            If you need information on this website in a different format, contact the Environment Agency.</p>
        <div class="contact">
            <p>National Customer Contact Centre<br>
                Email: enquiries@environment-agency.gov.uk<br>
                Telephone: 03708 506 506 (Monday to Friday, 8am to 5pm)</p>
        </div>
        <h2 class="govuk-heading-m">
            Reporting accessibility problems with this service
        </h2>
        <p>We want to solve any issues with accessibility as quickly as possible, and work to improve the accessibility
            of this service wherever we can.</p>
        <p class="govuk-body">
            If you find any problems not listed on this page or think we're not meeting accessibility requirements,
            contact the Environment Agency.</p>
        <div class="contact">
            <p>National Customer Contact Centre<br>
                Email: enquiries@environment-agency.gov.uk<br>
                Telephone: 03708 506 506 (Monday to Friday, 8am to 5pm)</p>
        </div>
        <h2 class="govuk-heading-m">
            Enforcement procedure
        </h2>
        <p class="govuk-body">
            The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies
            (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
        </p>
        <p class="govuk-body">If you're not happy with how we respond to a complaint, contact the <a
                href="https://www.equalityadvisoryservice.com/" rel="noopener noreferrer" target="_blank"
                class="govuk-link" aria-describedby="new-window-0">Equality Advisory and Support Service (EASS)</a>.</p>
        <h2 class="govuk-heading-l">
            Contacting us by phone or visiting us in person
        </h2>
        <p class="govuk-body">You can report an environmental problem by phone.</p>
        <div class="contact">
            <p>Environment Agency incident hotline<br>
                Telephone: 0800 80 70 60<br>
                24-hour service<br>
                <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
            </p>
        </div>
        <p class="govuk-body">
            We provide a text relay service for people who are deaf, hearing impaired or have a speech impediment.
        </p>
        <p class="govuk-body">
            Our offices have audio induction loops, or if you contact us before your visit we can arrange a British Sign
            Language (BSL) interpreter to help you complete the service in person.
        </p>
        <h2 class="govuk-heading-l">
            Technical information about this service’s accessibility
        </h2>
        <p class="govuk-body">
            The Environment Agency is committed to making this service accessible, in accordance with the Public Sector
            Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
        </p>
        <p class="govuk-body">
            This service is partially compliant with the <a href="https://www.w3.org/TR/WCAG22/"
                rel="noopener noreferrer" target="_blank" aria-describedby="new-window-0" class="govuk-link">Web Content
                Accessibility Guidelines version 2.2 AA standard</a>.
        </p>
        <h2 class="govuk-heading-m">
            Non-compliant content
        </h2>
        <p>The following content does not meet accessibility requirements:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>several sections of map text do not meet the requirements for WCAG 1.4.11 Non-text Contrast</li>
            <li>zoom controls on the map do not have a descriptive label identifying their function, which does not meet
                the requirement for WCAG 2.4.6 Headings and labels</li>
            <li>the 'Ordnance Survey' copyright notice on the map does not meet the requirements for WCAG 1.4.3 Contrast
            </li>
            <li>time and date inputs have been misapplied with duplicate IDs - this may affect how assistive
                technologies attribute labels and interact with input fields, which does not meet requirement for WCAG
                1.3.1 Info and relationships</li>
            <li>labels for time and date inputs contain unnecessary and confusing content and symbols, which does not
                meet requirement for WCAG 4.1.2 Name, Role, Value</li>
        </ul>
        <p class="govuk-body">We already allow users to use the service without using the map, if they wish.</p>
        <p class="govuk-body">In addition, we plan to fix these issues in the following ways:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>offer alternative map layers, including high contrast and satellite views</li>
            <li>replace third-party map controls with an in-house developed map application that allows us to add aria
                labelling to zoom controls and redesign inline elements such as the copyright notice</li>
            <li>replace the current multiple time and date inputs occurring on the same page with standalone pages for
                date and time inputs</li>
            <li>update content of labels for time and date inputs</li>
        </ul>
        <h2 class="govuk-heading-l">
            How we tested this service
        </h2>
        <p class="govuk-body">

            The service was last tested on 23 April 2025. It was checked for compliance with WCAG 2.2 AA using both
            automated and manual testing. The tests were carried out by the Digital Accessibility Centre (DAC).
        </p>
        <p class="govuk-body">
            This statement was last updated on 29 April 2025.
        </p>
    </div>
</div>
{% endblock %}