{% extends 'form-layout.html' %}
{% set pageTitle = 'Privacy notice: Report an environmental problem service' %}

{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-padding-top-4">{{ pageTitle }}</h1>
        <p class="govuk-body">The Environment Agency is the data controller for the report an environmental problem service on GOV.UK.</p>
        <p class="govuk-body">A data controller determines how and why personal data (personal information) is processed.</p>
        <p class="govuk-body">Our <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs/about/personal-information-charter">personal information charter</a> explains:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>what we do with caller's personal information (personal data) in general</li>
            <li>caller's rights</li>
            <li>how to complain to the Information Commissioner's Office</li>
        </ul>
        <h2 class="govuk-heading-m">Why we collect personal data</h2>
        <p class="govuk-body">We collect and process personal data as necessary to exercise our official authority set out in law under:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the Environment Act 1990</li>
            <li>Environmental Permitting (England and Wales) Regulations 2016</li>
            <li>the Environment Act 1995</li>
        </ul>
        <p class="govuk-body">The lawful basis we rely on to process caller's personal data is article 6(1)(e) of the UK General Data Protection Regulation (GDPR).</p>
        <h2 class="govuk-heading-m">What personal data we collect</h2>
        <p class="govuk-body">We collect the following personal data from a caller directly:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>name</li>
            <li>phone number</li>
            <li>email address, if given</li>
            <li>home address, if given</li>
            <li>details of health issues and treatment connected to the problem reported, if given</li>
            <li>any other details a caller includes about themselves</li>
        </ul>
        <p class="govuk-body">We may also ask for and collect personal data about other people if they are potentially involved in illegal activity. This could include:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>a description of the person</li>
            <li>details of their vehicle, including registration number</li>
            <li>any other details a caller give</li>
        </ul>

        <h2 class="govuk-heading-m">What we do with callers' personal data</h2>

        <p class="govuk-body">We use personal data to:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>help process reports, for example to find the location of a problem we are told about</li>
            <li>respond to callers about a report, if necessary</li>
            <li>improve the service by monitoring how it's used</li>
        </ul>

        <p class="govuk-body">We may share personal data with emergency services and environmental response teams outside the Environment Agency if it is essential to deal with the problem being reported.</p>

        <p class="govuk-body">We will not share personal data with anyone else without consent, unless we must do so by law.</p>

        <p class="govuk-body">We do not use personal data to make any automated decisions or for automated profiling.</p>

        <p class="govuk-body">Callers can remove consent for us to use their personal data at any time by contacting:</p>
        <p class="govuk-body">Email: <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a><br />
        Telephone: 03708 506 506</p>

        <h2 class="govuk-heading-m">Where personal data is stored and processed</h2>

        <p class="govuk-body">We store and process personal data on secure servers in the United Kingdom (UK).</p>
        <p class="govuk-body">Data is not transferred outside the UK.</p>

        <h2 class="govuk-heading-m">How long we keep personal data</h2>
        <p class="govuk-body">We keep personal data indefinitely.</p>

        <h2 class="govuk-heading-m">Changes to this notice</h2>

        <p class="govuk-body">We may change this privacy notice. Any changes to this privacy notice will immediately apply.
        <p class="govuk-body">If these changes affect how personal data is processed, we'll take reasonable steps to let anyone affected know.
        <p class="govuk-body">This notice was last updated on 27 January 2025.</p>
    </div>
  </div>
{% endblock %}
