{% extends 'layout.html' %}

{% set pageTitle = 'Privacy notice' %}
{% set pageHeader = 'Privacy notice: ' + serviceName + ' service' %}
{% set metaDescription = 'How the Environment Agency may collect, use, disclose, transfer and store your data when you
use this service.' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ pageHeader }}
    </h1>
    <p class="govuk-body">The Environment Agency is the data controller for the report an environmental problem service
      on GOV.UK. </p>
    <p class="govuk-body">A data controller determines how and why personal data (personal information) is processed.
    </p>
    <p class="govuk-body">Our <a
        href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs/about/personal-information-charter">personal
        information charter</a> explains:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>what we do with your personal information (personal data) in general</li>
      <li>your rights</li>
      <li>how to complain to the Information Commissioner's Office</li>
    </ul>
    <h2 class="govuk-heading-m">Why we collect personal data</h2>
    <p class="govuk-body">We collect and process personal data as necessary to exercise our official authority set out
      in law under:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the Environment Act 1990</li>
      <li>Environmental Permitting (England and Wales) Regulations 2016</li>
      <li>the Environment Act 1995</li>
    </ul>
    <p class="govuk-body">The lawful basis we rely on to process your personal data is article 6(1)(e) of the UK General
      Data Protection Regulation (GDPR).</p>
    <h2 class="govuk-heading-m">What personal data we collect</h2>
    <p class="govuk-body">We collect the following personal data from you directly:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your name</li>
      <li>your phone number</li>
      <li>your email address, if you include it</li>
      <li>your home address, if you include it</li>
      <li>details of health issues and treatment connected to the problem you're reporting, if you include them</li>
      <li>any other details you include about yourself</li>
    </ul>
    <p class="govuk-body">We may also ask for and collect personal data about other people if they potentially involved
      in illegal activity. This data could include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a description of the person</li>
      <li>details of their vehicle, including registration number</li>
      <li>any other details you choose to give</li>
    </ul>
    <p class="govuk-body">We collect some personal data by placing small files called cookies onto your computer to
      collect information about how you use our service.</p>
    <p class="govuk-body">The personal data collected are:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your Internet Protocol (IP) address</li>
      <li>details of which version of which <a href="https://www.gov.uk/help/browsers">web browser</a> you use</li>
    </ul>

    <h3 class="govuk-heading-s">Friendly Captcha</h3>
      <p class="govuk-body">When you use our postcode look-up to find your address, we use Friendly Captcha to check that you’re not a robot. For more information about the information Friendly Captcha collects, view the <a href="https://friendlycaptcha.com/legal/privacy-end-users/" class="govuk-link">Friendly Captcha privacy policy</a>.</p>
    <h2 class="govuk-heading-m">What we do with your personal data</h2>

    <p class="govuk-body">We use your personal data to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>help process your report, for example to find the location of a problem you tell us about</li>
      <li>respond to you about your report if necessary</li>
      <li>improve the service by monitoring how it's used and analysing feedback</li>
    </ul>

    <p class="govuk-body">We may share your personal data with emergency services and environmental response teams
      outside the Environment Agency if it is essential to deal with the problem you report.</p>

    <p class="govuk-body">We will not share your personal data with anyone else without your consent, unless we must do
      so by law.</p>

    <p class="govuk-body">We do not use your data to make any automated decisions or for automated profiling.</p>

    <p class="govuk-body">You can remove consent for us to use your personal data at any time by contacting:</p>
    <p class="govuk-body">Email: <a
        href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a><br>
      Telephone: 03708 506 506</p>

    <h2 class="govuk-heading-m">Where your personal information is stored and processed</h2>

    <p class="govuk-body">We store and process your personal data on secure servers in the United Kingdom (UK).</p>
    <p class="govuk-body">Your data will not be transferred outside the UK.</p>

    <h2 class="govuk-heading-m">How long we keep your personal data</h2>
    <p class="govuk-body">We keep your personal data indefinitely.</p>

    <h2 class="govuk-heading-m">Changes to this notice</h2>

    <p class="govuk-body">We may change this privacy notice. In that case, the 'last updated' date at the bottom of this
      page will also change. Any changes to this privacy notice will immediately apply to you and your data.
    </p>
    <p class="govuk-body">If these changes affect how your personal data is processed, we'll take reasonable steps to
      let you know.
    </p>
    <p class="govuk-body">This notice was last updated on 13 May 2025.</p>
  </div>
</div>
{% endblock %}