{% extends 'layout.html' %}

{% set hideBackLink = true %}
{% set pageTitle = 'Sorry, the service is unavailable' %}
{% set metaDescription = 'The report an environmental problem service is currently unavailable. You can report an environmental incident on GOV.UK.' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
    <p class="govuk-body">This service is in 'beta' and only available to use 9am to 5pm, Monday to Friday, not including bank holidays.</p>
    <p>This allows us to test the service before making it open to the general public, at any time.</p>
    <p>If your problem is not urgent, you can try again from 9am on the next working day.</p>
    <p>Alternatively, <a href="https://www.gov.uk/report-an-environmental-incident">report an environmental incident</a> by calling the Environment Agency incident hotline.</p>
  </div>
</div>

{% endblock %}